
%h3
  Community Resources
.height
  - @users.each do |u|
    .blue
      = u.name
    Address:
    .user-attr
      = u.address
    Certifications
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'cert'
          #resource_cert
            &nbsp;&nbsp; - CERT
        - if attr_value == true && attr_name == 'nert'
          &nbsp;&nbsp; - NERT
          %br
        - if attr_value == true && attr_name == 'cpr'
          &nbsp;&nbsp; - CPR
          %br
        - if attr_value == true && attr_name == 'safe'
          &nbsp;&nbsp; - SAFE
          %br
        - if attr_value == true && attr_name == 'first_aid'
          &nbsp;&nbsp; - First Aid
          %br
    Skills
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'contractor'
          #resource_contractor
            &nbsp;&nbsp; - Contractor
        - if attr_value == true && attr_name == 'engineer'
          &nbsp;&nbsp; - Engineer
          %br
        - if attr_value == true && attr_name == 'mechanic'
          &nbsp;&nbsp; - Mechanic
          %br
        - if attr_value == true && attr_name == 'healthcare'
          &nbsp;&nbsp; - Healthcare
          %br
    Resources:
    %br
    &nbsp;&nbsp; Facility
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'church'
          &nbsp;&nbsp; - Church
          %br
        - if attr_value == true && attr_name == 'school'
          &nbsp;&nbsp; - School
          %br
        - if attr_value == true && attr_name == 'bomb_shelter'
          &nbsp;&nbsp; - Bomb Shelter
          %br
        - if attr_value == true && attr_name == 'hurricane_shelter'
          &nbsp;&nbsp; - Hurricane Shelter
          %br
    &nbsp;&nbsp; Medical
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'oxygen'
          &nbsp;&nbsp; - Oxygen
          %br
        - if attr_value == true && attr_name == 'wheel_chair'
          &nbsp;&nbsp; - Wheel Chair
          %br
        - if attr_value == true && attr_name == 'defibrillation'
          &nbsp;&nbsp; - Defibrillation
          %br
    &nbsp;&nbsp; Equipment - Heavy
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'dump_truck'
          &nbsp;&nbsp;&nbsp; - Dump Truck
          %br
        - if attr_value == true && attr_name == 'back_hoe'
          #resource_backhoe
            &nbsp;&nbsp;&nbsp; - Back Hoe
        - if attr_value == true && attr_name == 'crane'
          &nbsp;&nbsp;&nbsp; - Crane
          %br
        - if attr_value == true && attr_name == 'fork_lift'
          &nbsp;&nbsp;&nbsp; - Fork Lift
          %br
        - if attr_value == true && attr_name == 'fuel'
          &nbsp;&nbsp;&nbsp; - Fuel
          %br
        - if attr_value == true && attr_name == 'air_compressor'
          &nbsp;&nbsp;&nbsp; - Air Compressor
          %br
        - if attr_value == true && attr_name == 'truck'
          &nbsp;&nbsp;&nbsp; - Truck
          %br
        - if attr_value == true && attr_name == 'power_generator'
          &nbsp;&nbsp;&nbsp; - Power Generator
          %br
        - if attr_value == true && attr_name == 'bus'
          &nbsp;&nbsp;&nbsp; - Bus
          %br
        - if attr_value == true && attr_name == 'saw'
          &nbsp;&nbsp;&nbsp; - Saw
          %br
        - if attr_value == true && attr_name == 'lathe'
          &nbsp;&nbsp;&nbsp; - Lathe
          %br
        - if attr_value == true && attr_name == 'plow'
          &nbsp;&nbsp;&nbsp; - Plow
          %br
        - if attr_value == true && attr_name == 'jack_hammer'
          &nbsp;&nbsp;&nbsp; - Jack Hammer
          %br
    &nbsp;&nbsp; Equipment - Light
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true && attr_name == 'emergency_kit'
          &nbsp;&nbsp;&nbsp; - Emergency Kit
          %br
        - if attr_value == true && attr_name == 'drill'
          &nbsp;&nbsp;&nbsp; - Drill
          %br
        - if attr_value == true && attr_name == 'hammer'
          &nbsp;&nbsp;&nbsp; - Hammer
          %br
        - if attr_value == true && attr_name == 'survival_kit'
          &nbsp;&nbsp;&nbsp; - Survival Kit
          %br
        - if attr_value == true && attr_name == 'shovel'
          &nbsp;&nbsp;&nbsp; - Shovel
          %br

    %br

  / .blue Lowell High School
  / Address: 
  / .user-attr
  /   &nbsp;&nbsp; 1101 Eucalyptus Dr., San Francisco, CA, 94132
  / Certifications
  / .user-attr
  /   &nbsp;&nbsp; - First aid
  / .user-attr
  /   &nbsp;&nbsp; - NERT
  / .user-attr
  /   &nbsp;&nbsp; - CERT
  / .user-attr
  /   &nbsp;&nbsp; - First Aid

  / Skills:
  / .user-attr
  /   &nbsp;&nbsp; - Chef/Cook
  / .user-attr
  /   &nbsp;&nbsp; - Contractor

  / Resources:
  / .user-attr
  /   &nbsp;&nbsp; - School
  / .user-attr
  /   &nbsp;&nbsp; - Centralized Heating
  / .user-attr
  /   &nbsp;&nbsp; - Bomb Shelter

  / Medical:
  / .user-attr
  /   &nbsp;&nbsp; - Wheel Chair
  / .user-attr
  /   &nbsp;&nbsp; - Difibrullation

  / Equipment - Heavy:
  / .user-attr
  /   &nbsp;&nbsp; - Van (2)

  / Equipment - Light:
  / .user-attr
  /   &nbsp;&nbsp; - Emergency Kit (7 days)
  / .user-attr
  /   &nbsp;&nbsp; - Advanced Toolkit
  
  
