
%h3
  Community Resources
.height
  - @users.each do |u|
    .blue
      = u.name
    Address:
    .user-attr
      = u.address
    Available Resources:
    .user-attr
      - u.attributes.each do |attr_name, attr_value|
        - if attr_value == true
          = attr_name
          %br
    %br
    / = u.nert
    / %br
    / = u.cert
    / %br
    / = u.cpr
    / %br
    / = u.safe
    / %br
    / = u.oxygen
    / %br
    / %br
