%section#tweets
  %h3 Tweets
  .height
    %ul
      - Tweet.last(5).each do |t|
        %li
          .black
            @
            = t.handle
          %img(src="#{t.photo}")
          = t.text
        %br
        %br