<div class="modal fade in" id="breaking">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h2>Add your Breaking News</h2>
  </div>
  <div class="modal-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>
    <%= f.submit "Sign in", :class => 'btn btn-small btn-success' %>
    <% end %>
  </div>
</div>