.container h3 {
  text-align: center;
  padding-left: 35px;
}

.container p {
  text-align: center;
  font-weight: lighter;
}

.neighbor-name {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
}

.height {
  overflow-y: scroll;
  max-height: 350px;
  margin-bottom: 15px;
}
.italic {
  font-style: italic;
  font-size: 14px; 
  font-weight: 500;
}
#printing li {
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 10px;
}

#advanced-search li {
  list-style-type: none;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
}
.container input {
  height: 28px;
  vertical-align: middle;
  font-size: 14px;
}
label {
  color: black;
  font-size: 14px;
}
/*#advanced-search input{
  font-weight: 500;
}*/
.center {
  text-align: center;
}
#account-container {
  width: 100%;
}
/*#advanced-search input {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 20px;
}*/
.personal {
  color: #1371bb;
}
.resource_links {
  cursor: pointer;
  color: #1371bb;
}
#update input{
  width: 100%;
  height: 50px;
  font-size: 20px;
  background: #428bca;
  color: white;
  border: none;
}
.hidden {
  display: none;
}
#name_field {
  margin-left: 32px;
}
#phone_field {
  margin-left: 26px;
}
#address_field {
  margin-left: 13px;
}
#user_address2 {
  margin-left: 5px;
}
#email_field {
  margin-left: 32px;
}
#zip_field {
  margin-left: 46px;
}
#city_field {
  margin-left: 42px;
}
#_option_value__NY__NY__option___option_value__CA__CA__option_ {
  margin-left: 35px;
}
select {
  width: 50px;
}
.user-table tr:nth-child(even){
  background: #f2f2f2;;
}

#contact-info input {
  width: 180px;
}
#tweets h3 {
  color: #55acee;
}
#tweets img {
  float: left;
  margin-right: 8px;
}
#tweets li {
  min-height: 48px;
  /*border-bottom: 1px solid gray;*/
}
#tweets ul {
  list-style-type: none;
  padding: 0;
  font-weight: normal;
  line-height: normal;
  color: #646463;
}
/*.tweet-text {
  float: right;
}*/
.black {
  color: black;
  word-spacing: -5px;
}

#user-print .space td {
  margin-bottom: 50px;
}
#prepare-container h4 {
  text-decoration: underline;
}
