.container h3 {
  text-align: center;
  padding-left: 35px;
}

.container p {
  text-align: center;
  font-weight: lighter;
}

.neighbor-name {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
}

.height {
  overflow-y: scroll;
  max-height: 350px;
  margin-bottom: 15px;
}

.italic {
  font-style: italic;
  font-size: 14px; 
  font-weight: 500;
}
#preparation li {
  margin-bottom: 20px;
}

#advanced-search li {
  list-style-type: none;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
}
.container input {
  height: 28px;
  vertical-align: middle;
  font-size: 14px;
}
label {
  color: black;
  font-size: 14px;
}
/*#advanced-search input{
  font-weight: 500;
}*/
.center {
  text-align: center;
}
#account-container {
  width: 100%;
}
/*#advanced-search input {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 20px;
}*/
.personal {
  color: #1371bb;
}
.resource_links {
  cursor: pointer;
  color: #1371bb;
}
#update input{
  width: 100%;
  height: 50px;
  font-size: 20px;
  background: #428bca;
  color: white;
  border: none;
}
.hidden {
  display: none;
}
#name_field {
  margin-left: 24px;
}
#phone_field {
  margin-left: 20px;
}
#address_field {
  margin-left: 8px;
}
#email_field {
  margin-left: 25px;
}
#zip_field {
  margin-left: 43px;
}
#city_field {
  margin-left: 37px;
}
#_option_value__NY__NY__option___option_value__CA__CA__option_ {
  margin-left: 29px;
}
select {
  width: 50px;
}
.user-table tr:nth-child(even){
  background: #f2f2f2;;
}

#contact-info input {
  width: 180px;
}

#tweets ul {
  list-style-type: none;
  padding: 0;
  font-weight: normal;
  line-height: normal;
  color: #646463;
}
