.right_form {
  display: inline-block;
  text-align: left;
  width: 206px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px; 
  padding-right:20px;
}

.two_line_input {
  line-height: 15px;
}

.form-label {
  font-weight: bolder;
}

.left_form {
  display: inline-block;
  text-align: left;
  width: 206px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px; 
  padding-right:20px;
}

.radio_text {
 padding-left: 5px;
 padding-right: 15px;
 line-height: 120%;
}

.radio_div {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top_bar {
  width: 60%;
  background-color: #019cd1;
  margin-left: auto;
  margin-right: auto; 
  height: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.input {
  width:100% !important;
  height: 22px;
}

#logo_img {
  width: 34px;
  position: relative;
  bottom: 11px;
}

#logo_container {
  float: left;
  bottom: 7px;
  position: relative;
}

#appa_text {
  position: relative;
  bottom: 8px;
  left: 8px;
  font-weight: 300;
  font-size: 23px;
  color: white;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.underline {
  border-bottom: 1px #019cd1 solid;
  text-align: left;
}

.helvetica {
  font-family: Helvetica;
  font-weight: 300;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.upper_middle {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}