.landing {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: rgba(66, 139, 196, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
.landing .landing-title {
  width: 80%;
  margin: 0 0 0.75rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.landing .sf {
  color: white;
  margin-bottom: 120px;
}
.landing .landing-dismiss {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  }
.landing .w {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}
#page-body {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#dismiss {
  width: 40px;
}
.ppr {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}
.w li {
  display: inline-block;
}
.ppr img {
  height: 50px;
  margin-bottom: 10px;
}
.block {
  display: block;
  margin: 0 auto;
}


#map {
  height: auto;
  width: 100%;
  position: absolute;
  top: 100px;
  bottom: 0;
}
.map-buttons {
  height: 40px;
  padding: 0 10px 0 10px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  /*box-shadow: 5px 5px 5px grey;*/
}
/*#license_field {
  margin-left: 30px;
}*/
#leg-sandbag {
  display: none;
}
/*#certification2_field {
  margin-left: 142px;
}
#license_field2 {
  margin-left: 114px;
}
#other_field {
  margin-left: 72px;
}*/
#leg-assets {
  display: none;
}
#user_volunteer_true, #user_volunteer_false {
  width: auto !important;
  margin-left: 2px;
}
.stars {
  width: 90px;
}
.numbers {
  width: 100px;
}
#marina {
  text-align: center;
}
#heatmap {
  position: fixed;
  right: 0;
  top: 110px;
  float: right;
  margin-right: 470px;
  margin-top: 10px;
}
#dc-resources {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 207px;
  margin-top: 10px;
}
#community {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px; 
  margin-right: 290px;
}

#damage {
  float: right;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin-bottom: 20px; 
  margin-right: 145px;
}
#sf-eh {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 70px;
}

#sf-er {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 493px;
}

#roads {
  float: right;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 70px;
}


#neighbor {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 208px;
  margin-top: 10px;
}
#hazard {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 332px;
  margin-top: 10px;
}
#busi {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 333px;
  margin-top: 10px;
}
#disaster {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}
#resiliency {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}
#traffic {
  position: fixed;
  right: 0;
  top: 150px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background: white;
  padding: 0 10px;
  border: 1px solid black;
  padding-top: 2px;
}
#heat {
  position: fixed;
  right: 0;
  top: 100px;
  float: right;
  margin-right: 550px;
  margin-top: 10px;
  color: red;
  font-weight: bolder;
  font-size: 30px;
}

.container {
  width: 400px;
  margin-left: 20px !important;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  z-index: 10;
  position: relative;
  /*top: -280px;*/
}
.container2 {
  width: 400px;
  margin-left: 20px !important;
  margin-top: 20px;
  /*font-size: 16px;*/
  /*font-weight: bold;*/
  background-color: rgba(255, 255, 255, 0.9);;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
  z-index: 10;
  position: relative;
  padding: 0 20px 20px 20px;
  /*top: -280px;*/
}
.close {
  float: right;
  width: 20px;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
}
.active {
  color: red;
}
.height {
  line-height: 26px;
}
.checkbox {
  display: inline-block !important;
  margin-top: 0 !important;
  margin-right: 5px !important;
}
.blue {
  color: #0062A0;
  font-size: 19px;
  text-decoration: underline;
  cursor: pointer;
}
.blue2 {
  color: #009BD0;
}
.user-attr {
  font-weight: normal;
  /*text-decoration: underline;*/
}
#menu1 {
  top: auto;
  left: auto !important;
  right: 125px !important;
  position: fixed !important;
  bottom: 60px !important;
  padding-left: 5px;
}
#menu4 {
  top: auto;
  left: auto !important;
  right: 105px !important;
  position: fixed !important;
  bottom: 60px !important;
  padding-left: 5px;
  width: 180px;
}
#menu7 {
  top: auto;
  left: auto !important;
  right: 525px !important;
  position: fixed !important;
  bottom: 60px !important;
  padding-left: 5px;
  width: 180px;
}
#menu2 {
  top: 147px !important; 
  left: auto !important; 
  right: 320px !important;
  position: fixed !important;
  padding-left: 5px;
}
#menu8 {
  top: 147px !important; 
  left: auto !important; 
  right: 100px !important;
  position: fixed !important;
  padding-left: 5px;
  height: 300px;
  overflow-y: scroll;
}
#menu5 {
  top: 147px !important; 
  left: auto !important; 
  right: 302px !important;
  position: fixed !important;
  padding-left: 5px;
}
#menu3 {
  top: 147px !important; 
  left: auto !important; 
  right: 138px !important;
  position: fixed !important;
  padding-left: 5px;
}
#menu6 {
  top: 147px !important; 
  left: auto !important; 
  right: 168px !important;
  position: fixed !important;
  padding-left: 5px;
}
/*#user-print {
  display: none;
}*/

.user-table {
  /*display: inline-block;*/
  margin-bottom: 30px;
  /*display: none;*/
}
.user-table th {
  min-width: 80px;
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
} 
.user-table td {
  border-right: 1px solid;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid;
  text-align: center;
}
#about {
  position: relative;
  height: 22px;
  cursor: pointer;
  color: #2a6496;
  padding: 0 10px 0 10px;
  line-height: 22px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  float: left;
  position: fixed;
  bottom: 0;
  left: 155px;
  margin-bottom: 9px;
  margin-right: 70px;
}
.theImg {
  z-index: 10;
  position: absolute;
  width: 150px;
  right: 150px;;
  top: 160px;
  float: right;
}
.red {
  color: #ad1c27;
}