/*@media print{*/

/*  #map, #nav, .map-buttons {
    display: none;
  }*/

/*  .user-table td {
    border-right: 1px solid;
    padding-top: 15px;
  }*/

 /* .user-table {
  display: inline-block;
  /*display: none;*/
 /* }
  .user-table th {
    min-width: 80px;
  } 
  .user-table td {
    border-right: 1px solid;
    padding-top: 15px;

  }*/
/*}*/
.download {
  font-size: 20px;
}
.map-buttons2 {
  height: 40px;
  padding: 0 10px 0 10px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  /*box-shadow: 5px 5px 5px grey;*/
}
.print-header {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
}