!!!
%html
  %head
    %title DAAD
    = stylesheet_link_tag    "application", media: "all" #, "data-turbolinks-track" => true
    = csrf_meta_tags
    %script{src: "http://code.jquery.com/jquery.min.js", type: "text/javascript"}
    = javascript_include_tag "application" #, "data-turbolinks-track" => true
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB60U-cs_Addv1qCRMC6OMs4ug8Ags8n-M&sensor=false", type: "text/javascript"}
    %script{src: "http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=true_or_false", type: "text/javascript"}
    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=drawing", type: "text/javascript"}
    / %script{:src => "../assets/javascripts/oms.min.js", :type => "text/javascript"}
    %link{href: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", rel: "stylesheet"}/
    / %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"}
    %link{href: "images/favicon.ico", rel:"shortcut icon", type:"image/x-icon"}
    %link{href: "images/favicon.ico", rel:"icon", type:"image/x-icon"}
    %meta{:content => "49495bc31876cf0b-3aeac57d2a8384f2-g377ce6f716404d1e-e", :name => "google-translate-customization"}/
  %body
