#preparation
  %h3 Prepare for a Disaster
  %p San Francisco County, California
  .height
    %ul
      %h4
        Community Planning Resources
      %li
        CA State Contractors License Board:
        %br
        %a.italic( target='_blank' href='https://www2.cslb.ca.gov/OnlineServices/CheckLicenseII/CheckLicense.aspx') Get Contractors Verified!
      %li
        Federal Business Registration for Government Contracts:
        %br
        %a.italic( target='_blank' href='https://iupdate.dnb.com/iUpdate/viewiUpdateHome.htm') Register for DUNS Number for potential Federal Contracts!
        %br
        %a.italic( target='_blank' href='https://www.sam.gov/portal/SAM/#%2311#1') Register for System for Award Management  (SAMS)
      %li
        Department of Emergency Management:
        %br
        %a.italic( target='_blank' href='http://www.sf72.org/home') SF Department of Emergency Management Get Prepared!
      %li
        Red Cross:
        %br
        %a.italic( target='_blank' href='http://www.redcross.org/courses/index.jsp?_requestid=1029268') Red Cross Training
        %br
        %a.italic( target='_blank' href='http://www.redcross.org/support/volunteer/opportunities#step1') Red Cross Volunteer
      %li
        SF Police:
        %br
        %a.italic( target='_blank' href='http://sf-police.org/index.aspx?page=4019') SF ALERT Program
        %br
        %a.italic( target='_blank' href='http://sfsafe.org/') SAFE Program
        %br
        %br
      %h4
        Department of Public Health
      %li
        Disease and Biohazards:
        %br
        %a.italic( target='_blank' href='http://www.sfcdcp.org/') Infectious Disease Emergencies- Health Alerts
        %br
        %a.italic( target='_blank' href='http://www.bt.cdc.gov/') Center for Disease Control and Prevention
        %br
        %a.italic( target='_blank' href='http://emergency.cdc.gov/han/index.asp') Health Alert Network
        %br
        %a.italic( target='_blank' href='http://www.calema.ca.gov/Pages/default.aspx') California Office of Emergency Management
      %li
        SF Fire Department:
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/index.aspx?page=879') Nert Training
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1403') Family Disaster Plan PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1598') Family Disaster Plan Spanish PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1343') Personal Emergency Contact Sheet PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1391') Home/Work/Car Kit List PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/modules/showdocument.aspx?documentid=3570') Tips for Seniors pdf 
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1390') Home/Work/Car kit list Spanish PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1389') Home/Work/Car kit list Chinese PDF
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1326') Shelter in place pdf
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/Modules/ShowDocument.aspx?documentid=1342') Pet Disaster Plan pdf
        %br
        %a.italic( target='_blank' href='') Can you go it alone for 3 days?
        %br
        %a.italic( target='_blank' href='http://www.sf-fire.org/modules/showdocument.aspx?documentid=3568') Go Bag
      %li
        Neighborhood Empowerment Network:
        %br
        %a.italic( target='_blank' href='http://empowersf.org/') NEN


  /   %ul
  /     %li
  /       Community Resiliency Index 
  /       %br
  /       Pre-Disaster: 72
  /       %br
  /       %span.italic For more details, click here
  /     %li
  /       Disaster Potential
  /       %br
  /       %span.italic To see disaster potential and map overlays,
  /       %a.italic(href='#') click here
  /     %li
  /       Hazard Mitigation Projects
  /       %br
  /       %span.italic To see past and current hazard mitigation projects, click here
  /     %li
  /       Community Resources
  /       %br

  /       %a.italic(href='http://www.sf-fire.org/index.aspx?page=859') 
  /         Get Involved
  /         %br
  /       %a.italic(href='http://www.ready.gov/') 
  /         Get Organized 
  /         %br
  /       %a.italic(href='http://www.redcross.org/ca/san-francisco/take-a-class') 
  /         Get Trained
  /         %br
  /       %a.italic(href='http://www.community.fema.gov/connect.ti/Region_IX/groupHome') 
  /         Get FEMA PrepareAthon
  /         %br
  /       %a.italic(href='http://www.sf-fire.org/index.aspx?page=870') 
  /         Get Local Recommendations for Prep
  /     %li
  /       Preparation Resources
  /       %br
  /       %span.italic To see disaster potential and map overlays, click here

  / 