#preparation
  %h3 Prepare for a Disaster
  %p San Francisco County, California
  .height
    %ul
      %li
        Community Resiliency Index 
        %br
        Pre-Disaster: 72
        %br
        %span.italic For more details, click here
      %li
        Disaster Potential
        %br
        %span.italic To see disaster potential and map overlays,
        %a.italic(href='#') click here
      %li
        Hazard Mitigation Projects
        %br
        %span.italic To see past and current hazard mitigation projects, click here
      %li
        Community Resources
        %br

        %a.italic(href='http://www.sf-fire.org/index.aspx?page=859') 
          Get Involved
          %br
        %a.italic(href='http://www.ready.gov/') 
          Get Organized 
          %br
        %a.italic(href='http://www.redcross.org/ca/san-francisco/take-a-class') 
          Get Trained
          %br
        %a.italic(href='http://www.community.fema.gov/connect.ti/Region_IX/groupHome') 
          Get FEMA PrepareAthon
          %br
        %a.italic(href='http://www.sf-fire.org/index.aspx?page=870') 
          Get Local Recommendations for Prep
      %li
        Preparation Resources
        %br
        %span.italic To see disaster potential and map overlays, click here

  