#preparation
  %h3 Prepare for a Disaster
  %p San Francisco County, California
  .height
    %ul
      %li
        Community Resiliency Index 
        %br
        Pre-Disaster: 72
        %br
        %span.italic For more details, 
        %a.italic(href='#') click here
      %li
        Disaster Potential
        %br
        %span.italic To see disaster potential and map overlays,
        %a.italic(href='#') click here
      %li
        Hazard Mitigation Projects
        %br
        %span.italic To see past and current hazard mitigation projects,
        %a.italic(href='#') click here
      %li
        Community Resources
        %br
        %span.italic To see community captains and hubs registered in the area,
        %a.italic(href='#') click here
      %li
        Preparation Resources
        %br
        %span.italic To see disaster potential and map overlays,
        %a.italic(href='#') click here

  