#printing
  %h3 Printing Options

  = link_to "All Resources", '#', onclick: "gmapPrint()"
  %p Local Resources by Zipcode
  %ul
    - User.uniq.pluck(:zip).each do |p|
      %li
        = link_to "#{p}", "/print/#{p}", class: 'zip-click'

