#preparation
  %h3 Printing Options

  / = link_to "Evacuation Routes", '#', onclick: "printpage()"
  = link_to "All Resources", '#', onclick: "gmapPrint()"
  %p Local Resources by Zipcode
  %br
  / = link_to ''
  - User.all.each do |f|
    - f.attributes.each do |attr_name, attr_value|
      - if attr_name == 'zip'
        / - p attr_name.size
        / - p attr_value.size
        = link_to attr_value, "/print/#{attr_value}", class: 'zip-click'
        %br
  / # = link_to User.uniq.pluck(:zip).map(&:inspect).join(', '), onclick: "gmapPrint()"
  / # = link_to "User Resources", '#', onclick: "PrintContent()"
  / %p Preparedness

