#preparation
  %h3 Printing Options

  / = link_to "Evacuation Routes", '#', onclick: "printpage()"
  %p Local Resources
  = link_to "User Resources", '#', onclick: "gmapPrint()"
  %br
  = link_to User.uniq.pluck(:zip).map(&:inspect).join(', '), onclick: "gmapPrint()"
  / # = link_to "User Resources", '#', onclick: "PrintContent()"
  %p Preparedness