.resiliency
  %h3 City Resiliency
  #marina The Marina - 94123
  %br
  Community Resiliency Score: 71
  %br
  %br
  %span.italic For a detailed explanation of how the Community Resiliency Index is calculated
  %a(href='#') click here
  %br
  %br
  .height
    Factors:
    %br
    %br
    Environment  - 
    =image_tag asset_path('2.png'), :class => 'stars'
    %br
    Transportation/Public Facilities  - 
    =image_tag asset_path('3.png'), :class => 'stars'
    %br
    Education/SocioEconomic  - 
    =image_tag asset_path('4andhalf.png'), :class => 'stars'
    %br
    Civic Engagement  - 
    =image_tag asset_path('3andhalf.png'), :class => 'stars'
    %br
    Housing  - 
    =image_tag asset_path('3.png'), :class => 'stars'